# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.eggs/
*.egg

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables / secrets
.env
*.env

# Data files (uncomment if dataset grows too large for git)
# data/*



# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# MLflow
mlruns/

# Logs
*.log
